html {
    scrollbar-color: #ffffff #ffffff; /* thumb color, track color */
}

body {
    font-family: "Google Sans", sans-serif;
    background-color: #ffffff;
    color: #fefefe;
    min-height: 100vh;
    padding: 2rem;
    
    /* Flexbox magic */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers everything vertically */
    align-items: center;     /* Centers everything horizontally */
}

h1 {
    color: #0a0a0a;
    font-size: clamp(1.4rem, 2vw, 3rem);
}

h2 {
    color: #0a0a0a;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-top: 1vw;
    margin-bottom: 1vw;
}

p {
    color: #0a0a0a;
    font-size: clamp(1.0rem, 1.4vw, 3rem);
    max-width: 40vw;
}

a {
    color: #0a0a0a;
    font-size: clamp(1.0rem, 1.5vw, 3rem);
}